html,body{
    margin: 0;
    padding:0;
}

body{
    width: 100%;
    height: 100%;
    font-family: brandon-grotesque,Adobe Kaiti Std R,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5em;
}

.noScroll{
    overflow: hidden;
}

/*SlideShow*/

.slideShow span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity:0;
    z-index: 1;
    -webkit-animation: imageAnimation 6s linear infinite 0s;
    -moz-animation: imageAnimation 6s linear infinite 0s;
    -o-animation: imageAnimation 6s linear infinite 0s;
    -ms-animation: imageAnimation 6s linear infinite 0s;
    
    animation: imageAnimation 6s linear infinite 0s;
    
}


@keyframes imageAnimation { 
	0% {
	    opacity: 0;
        animation-timing-function: ease-in;
	}
	
	25% {
	     opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
    50% {
	     opacity: 1;
	    transform: scale(1.05);
	}
     75% {
	     opacity: 0;
	    transform: scale(1.05);
	}
	100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow span{
	opacity: 1;
}
.slideShow::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: transparent url(../../modelPages/back2.jpg) repeat top left;
}


/*Navigation*/
h1, h2, h3, h4, h5, h6,p,a {
    clear: both;
}
 h2, h3, h4, h5, h6,a {
    font-family: Adobe Kaiti Std R;
}
h1{
    text-transform: none;
    font-family: Adobe Kaiti Std R;
    font-weight: 500;
    font-size: 3em;
}
h3{
    width: 100%;
    font-size: 27px;
    font-weight: 100;
    letter-spacing: -2px;
}
p{
    font-family: Adobe Kaiti Std R;
}
.name{
    text-indent: 10%;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 20px;
}
.text{
    text-indent: 20%;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 6px;
}
.text p{
    font-size: 17px;
}
.price{
    line-height: 10px;
    letter-spacing: 1px;
    font-size: 30px;
}
.price1{
    line-height: 10px;
    letter-spacing: 1px;
    font-size: 30px;
    text-indent: 10%;
    word-spacing: 3px;
}
.price2{
    letter-spacing: 1px;
    font-size: 30px;
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
    
}
.containerLeault{
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 70px;
    padding-top:20px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}
.home_title{
    clear: both;
   position: relative;
   text-align: left;
   padding-left: 70px;
   width: 100%;
   z-index: 1;
   letter-spacing: -2px;
   -webkit-font-smoothing: antialiased;
   /*color: #ccc394;*/
   color: #fff;
   text-shadow: 0 1px 2px #222;
}

.container_links{
    width: 100%;
    position:absolute;
    margin-left: -35px;
    margin-top:-15px;
}
.container_links h3{
    line-height: 10px;
}

.violins_content{
    line-height: 30px;
    font-size: 17px;
    margin-top: -25px;
    letter-spacing: -1px;
}

/*links decoration*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    /*color: #ccc394;*/
    color: #fff;
    cursor:pointer;
}
a :hover{
    color: #008CBA;
}
a:hover{
    color: #008CBA;
}
/*Violins Gypsy*/
.gypsyHome{
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}

.gypsyContent{
    position: relative;
    left: 5%;
    width: 50%;
    text-align: left;
    z-index: 1;
    /* color: #ccc394; */
    color: white; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.gypsyContent h3{
   margin-left: 5%;
}

.gypsy{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.gypsyBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins Kiril Petrov*/
.kikiHome{
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}
.kikiContent{
    position: relative;
    left: 5%;
    width: 50%;
    text-align: left;
    z-index: 1;
    /* color: #ccc394; */
    color: white; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.kikiContent h3{
   margin-left: 5%;
}

.kikiPetrov{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.kikiBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins Robert Kantor*/
.kantorHome{
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}

.kantorContent{
    position: relative;
    left: 5%;
    width: 50%;
    text-align: left;
    z-index: 1;
    /* color: #ccc394; */
    color: white; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.kantorContent h3{
   margin-left: 5%;
}

.kantor{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.kantorBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins semi custom*/
.semiHome{
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}

.semiContent{
    position: relative;
    left: 5%;
    width: 50%;
    text-align: left;
    z-index: 1;
    /* color: #ccc394; */
    color: white; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.semiContent h3{
    margin-left: 5%;
}

.semi{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.semiBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins standard*/
.standardHome{
    position: relative;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    text-shadow: 0 1px 2px #222;
}

.standardContent{
    position: relative;
    left: 5%;
    width: 50%;
    text-align: left;
    z-index: 1;
    /* color: #ccc394; */
    color: white; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.standardContent h3{
    margin-left: 5%;
}

.standard{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.standardBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Gallery*/
.galleryHome{
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1;
    letter-spacing: -2px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    /* color: #ccc394; */
    color: #fff;
    text-shadow: 0 1px 2px #222;
}
.galleryHome h3{
   position: relative;
   margin-left: 9%;
   margin-top: -2%;
}

.gallery{
    width: 99.3%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*Contact*/
.contactHome{
   position: absolute;
   text-align: left;
   width: 100%;
   z-index: 1;
   letter-spacing: -2px;
   -webkit-font-smoothing: antialiased;
   /*color: #ccc394;*/
   color: #fff;
   text-shadow: 0 1px 2px #222;
}

.contact{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*For Sale*/
.forSaleHome{
    position: absolute;
   text-align: left;
   width: 100%;
   z-index: 1;
   letter-spacing: -2px;
   -webkit-font-smoothing: antialiased;
   text-transform: uppercase;
   /*color: #ccc394;*/
   color: #fff;
   text-shadow: 0 1px 2px #222;
}
.forSaleHome h3{
   position: relative;
   margin-left: 9%;
   margin-top: -2%;
}

.forSale{
    width: 99.3%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


/*Gallery - For Sale : img*/
.section-inner{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index:1;
    overflow: auto;
}
.gallery-clearfix{
    clear: both;
}
.galleryImages{
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 230px 5% 0 5%;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
    float: left;
}

.galleryImages img{
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
}


.image-one{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 15px 5px 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px; 
}
.image-two{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 15px 5px 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px; 
}

.image-three{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 15px 5px 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;   
}

.image-four{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 15px 5px 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;  
}

.image-five{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 15px 5px 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;  
}


/*Contact*/

.leaultContact{
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 70px;
    margin-top: 180px;
    padding-top: 20px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    /* color: #ccc394; */
    color: #fff;
    text-shadow: 0 1px 2px #222;
}

.contactList{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 215px;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    line-height: 10px;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.contacts{
    text-align: left;
    position: absolute;
    margin-left: 25%;
    margin-top: -495px;
    padding-right: 35px;
    border-right: 1px solid #ccc394;
}
.contacts h3{
    text-transform: uppercase;
}
.contacts p{
    margin-top: 23px;
    text-align: left;
    font-size: 20px;
    text-shadow: 0 1px 2px #222;
}
.social{
    text-align: left;
    position: absolute;
    margin-top: -295px;
    margin-left: 25%;
    padding-right: 182px;
    border-right: 1px solid #ccc394;
}
.social h3{
    text-transform: uppercase;
}
.social p a{
    font-size: 20px;
}
.socialInstagram{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
    font-size: 17px;
}  
.socialFaceBook{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
    font-size: 17px;
}
.socialPinterest{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
    font-size: 17px;
}

.links{
    bottom: 430px;
    position: relative;
    display: inline-block;
    padding-right: 35px;
}
.links h3{
    text-transform: uppercase;
}