html,body{
    margin: 0;
    padding:0;
}

body{
    font-family: brandon-grotesque,HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}

.noScroll{
    overflow: hidden;
}

/*SlideShow*/

.slideShow span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity:0;
    z-index: 1;
    -webkit-animation: imageAnimation 6s linear infinite 0s;
    -moz-animation: imageAnimation 6s linear infinite 0s;
    -o-animation: imageAnimation 6s linear infinite 0s;
    -ms-animation: imageAnimation 6s linear infinite 0s;
    
    animation: imageAnimation 6s linear infinite 0s;
    
}


@keyframes imageAnimation { 
	0% {
	    opacity: 0;
        animation-timing-function: ease-in;
	}
	
	25% {
	     opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
    50% {
	     opacity: 1;
	    transform: scale(1.05);
	}
     75% {
	     opacity: 0;
	    transform: scale(1.05);
	}
	100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow span{
	opacity: 1;
}
.slideShow::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: transparent url(../../modelPages/back2.jpg) repeat top left;
}


/*Navigation*/
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
h1, h2, h3, h4, h5, h6,p,a {
    font-family: monospace;
}

.container {
    position: relative;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
    
}
.containerLeault{
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 15%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.home_title{
   position: relative;
   text-align: left;
   padding-left: 7%;
   font-size:1.5em;
   width: 100%;
   z-index: 1;
   /*color: #ccc394;*/
   font-weight: 400;
   text-shadow: 0 1px 2px #222;
}

.container_links{
    width: 100%;
    position:absolute;
    margin-left: -2%;
    line-height: 35px;
}
.violins{
    position: relative;
    width: 100%;
}
.violins_content{
    line-height: 30px;
}

/*links decoration*/
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    /*color: #ccc394;*/
    color: #fff;
    cursor:pointer;
}
a:hover{
    color: #0040ff
}

/*Violins Gypsy*/
.gypsyHome{
    position: relative;
    text-align: left;
    font-size:1.5em;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}

.gypsyContent{
    position: relative;
    left: 5%;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-top: 8%;
    font-size: 1.5em;
    line-height: 25px;
    /* color: #ccc394; */
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.gypsyContent h2{
   position: relative;
   margin-left: 5%;
   font-size: 1.5em;
}

.gypsy{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.gypsyBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins Kiril Petrov*/
.kikiHome{
    position: relative;
    text-align: left;
    font-size:1.5em;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.kikiContent{
    position: relative;
    left: 5%;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-top: 8%;
    font-size: 1.5em;
    line-height: 25px;
    /* color: #ccc394; */
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.kikiContent h2{
   position: relative;
   margin-left: 5%;
   font-size: 1.5em;
}

.kikiPetrov{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.kikiBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins Robert Kantor*/
.kantorHome{
    position: relative;
    text-align: left;
    font-size:1.5em;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}

.kantorContent{
    position: relative;
    left: 5%;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-top: 8%;
    font-size: 1.5em;
    line-height: 25px;
    /* color: #ccc394; */
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.kantorContent h2{
   position: relative;
   margin-left: 5%;
   font-size: 1.5em;
}

.kantor{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.kantorBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins semi custom*/
.semiHome{
    position: relative;
    text-align: left;
    font-size:1.5em;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}

.semiContent{
    position: relative;
    left: 5%;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-top: 8%;
    font-size: 1.5em;
    line-height: 25px;
    /* color: #ccc394; */
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.semiContent h2{
    position: relative;
    margin-left: 5%;
    font-size: 1.5em;
}

.semi{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.semiBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Violins standard*/
.standardHome{
    position: relative;
    text-align: left;
    font-size:1.5em;
    width: 100%;
    z-index: 1;
    font-size: 1.5em;
    /*color: #ccc394;*/
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}

.standardContent{
    position: relative;
    left: 5%;
    width: 40%;
    text-align: left;
    z-index: 1;
    margin-top: 8%;
    font-size: 1.5em;
    line-height: 25px;
    /* color: #ccc394; */
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.standardContent h2{
   position: relative;
    margin-left: 5%;
    font-size: 1.5em;
}

.standard{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #000;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat:repeat;
    z-index: 1;
}
.standardBack{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    z-index: 1;
}

/*Gallery*/
.galleryHome{
   position: absolute;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.galleryHome h2{
   position: relative;
   margin-left: 9%;
   margin-top: -2%;
   font-size:1.5em;
}

.gallery{
    width: 99.3%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*Contact*/
.contactHome{
    position: relative;
    left:0;
    text-align:left;
    width: 100%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    /* color: #ccc394; */
    color: #fff;
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}


.contact{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

/*For Sale*/
.forSaleHome{
    position: absolute;
    width: 100%;
    text-align: left;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 1.5em;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.forSaleHome h2{
   position: relative;
   margin-left: 9%;
   margin-top: -2%;
   font-size:1.5em;
}

.forSale{
    width: 99.3%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}


/*Gallery - For Sale : img*/
.section-inner{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    z-index:1;
    overflow: auto;
}
.gallery-clearfix{
    clear: both;
}
.galleryImages{
    position: absolute;
    z-index: 1;
    width: 100%;
    margin: 230px 5% 0 5%;
    -webkit-font-smoothing: antialiased;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
    float: left;
}

.galleryImages img{
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
}
.galleryImages p {
   color: white;  
   letter-spacing: 0;  
   padding: 0 0 0 10px;
   word-wrap: break-word;
   font-size: 1.2em;
}

.image-one{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 18px 0 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px; 
}
.image-two{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 18px 0 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px; 
}

.image-three{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 18px 0 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;   
}

.image-four{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 18px 0 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;  
}

.image-five{
    display: inline-block;
    position: relative;
    width: 235px;
    padding: 10px 18px 0 10px;
    border-width:5px;	
    border-style:double;
    border-radius: 5px;
    border-color:black;
    margin: 40px;  
}


/*Contact*/

.leaultContact{
    position: relative;
    text-align: left;
    padding-left: 10%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
   width: 30%;
}

.contactList{
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 10%;
    z-index: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    line-height: 10px;
    /*color: #ccc394;*/
    color: #fff; 
    font-weight: 400;
    text-shadow: 0 1px 2px #222;
}
.contacts{
    text-align: left;
    position: relative;
    display: inline-block;
    padding-right: 35px;
    border-right: 1px solid #ccc394;
}
.contacts p{
    margin-top: 20px;
    text-align: left;
    text-shadow: 0 1px 2px #222;
}
.social{
    text-align:left;
    position: relative;
    display: inline-block;
    margin-left: 90px;
}

.socialInstagram{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
}  
.socialFaceBook{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
}
.socialPinterest{
    background:transparent left no-repeat;
    padding: 0 0 0 40px;
}

.links{
    bottom: 535px;
    left: 10%;
    position: relative;
    display: inline-block;
    padding-right: 35px;
    border-bottom: 1px solid #ccc394;
}